.head-text {
    position: relative;
 }
 .text-on-image {
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 50%;
  }
 .head-text img{
    width: 100%;
    opacity: 0.8;
 }
 .head-text h3,p{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
 }
 .inner{
    margin-top: 70px;
    padding-left: 60px;
 }
 .column {
    margin-top: 107px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
   
  }
  .column h3{
    right: 15%;
    font-size: 25px;
  }
  .column p{
    color: black;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
  }
  .column img{
    padding-left:70px;
    width: 400px;
    height: 300px;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }